* {
    box-sizing: border-box;
}

html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0;
    color: green;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}